/* 🍔 Burger Stacker CSS  */

/* Reset & Global Styles */
* {
  box-sizing: border-box;
}

:root {
  line-height: 1;
  font-weight: 400;
  font-family: 'Bungee', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  

  --background-dark: #242424;
  --background-light: #f8e0b6;
  --ingredient-border: #d2691e;
  --button-bg: #00000000;
  --button-bg-hover: #d42a00;
  --text-color: #fff;
  

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-dark);
  background-image: url('https://s3-us-west-2.amazonaws.com/photoawardscom/upload/2014/large/8-84841-14_IPA_FloatingBurgerIPA.jpg'); /* Local file */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.229);
  border-radius: 15px;
  border: 5px solid var(--ingredient-border);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px #ffbf00;
  color: var(--text-color);
}

section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

ul {
  width: 45%;
  height: 100%;
  padding: 16px;
  list-style: none;
  background: rgba(255, 255, 255, 0.429);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

li {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 12px;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--ingredient-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.05);
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--button-bg);
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.2s ease-in-out, transform 0.1s;
}

button:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.1);
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}